USE [master]
GO
/****** Object:  Database [Library]    Script Date: 23.03.2022 20:59:41 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Users\user\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Users\user\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[BBK]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BBK](
	[IdBBK] [nchar](5) NOT NULL,
	[TitleBBK] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BBK] PRIMARY KEY CLUSTERED 
(
	[IdBBK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ISBN] [nchar](13) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[BBK] [nchar](5) NOT NULL,
	[HousePublication] [int] NOT NULL,
	[IdCity] [int] NOT NULL,
	[YearOfPublication] [int] NOT NULL,
	[PageCounts] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] NOT NULL,
	[NameCity] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extradition]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extradition](
	[IdReaderBillet] [int] NOT NULL,
	[IdBook] [nchar](13) NOT NULL,
	[DateOfIssue] [datetime] NOT NULL,
	[ReturnDate] [datetime] NOT NULL,
	[IdReader] [int] NOT NULL,
 CONSTRAINT [PK_Extradition] PRIMARY KEY CLUSTERED 
(
	[IdReaderBillet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HousePublication]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HousePublication](
	[IdHouse] [int] NOT NULL,
	[NameHouse] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HousePublication] PRIMARY KEY CLUSTERED 
(
	[IdHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[IdRank] [int] NOT NULL,
	[NameRank] [nchar](12) NOT NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[IdRank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 23.03.2022 20:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[IdReader] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PatronymicName] [nvarchar](50) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Adress] [nvarchar](max) NOT NULL,
	[StudyOrWork] [nvarchar](max) NOT NULL,
	[NumberPhone] [nchar](11) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IdRank] [int] NOT NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[IdReader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BBK] ([IdBBK], [TitleBBK]) VALUES (N'1    ', N'Общенаучное и междисциплинарное знание
')
INSERT [dbo].[BBK] ([IdBBK], [TitleBBK]) VALUES (N'2    ', N'Естесвтенные науки
')
INSERT [dbo].[BBK] ([IdBBK], [TitleBBK]) VALUES (N'20   ', N'Естественные науки в целом
')
GO
INSERT [dbo].[Books] ([ISBN], [Author], [Title], [BBK], [HousePublication], [IdCity], [YearOfPublication], [PageCounts]) VALUES (N'9-123-56411-8', N'Пушкин Александр Сергеевич', N'Евгений Онегин', N'84   ', 4, 2, 1822, 233)
INSERT [dbo].[Books] ([ISBN], [Author], [Title], [BBK], [HousePublication], [IdCity], [YearOfPublication], [PageCounts]) VALUES (N'9-123-56412-9', N'Никалай Васильевич Гоголь', N'Мёртвые души', N'84   ', 4, 3, 1824, 134)
GO
INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (1, N'Екатеринбург')
INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (2, N'Москва')
INSERT [dbo].[City] ([IdCity], [NameCity]) VALUES (3, N'Санкт-Петербург')
GO
INSERT [dbo].[Extradition] ([IdReaderBillet], [IdBook], [DateOfIssue], [ReturnDate], [IdReader]) VALUES (1, N'9-123-56411-8', CAST(N'2022-03-13T09:22:33.603' AS DateTime), CAST(N'2022-03-27T09:22:33.603' AS DateTime), 4)
INSERT [dbo].[Extradition] ([IdReaderBillet], [IdBook], [DateOfIssue], [ReturnDate], [IdReader]) VALUES (2, N'9-123-56411-8', CAST(N'2022-03-13T11:54:00.767' AS DateTime), CAST(N'2022-03-27T11:54:00.767' AS DateTime), 1)
INSERT [dbo].[Extradition] ([IdReaderBillet], [IdBook], [DateOfIssue], [ReturnDate], [IdReader]) VALUES (3, N'9-123-56412-9', CAST(N'2022-03-13T11:54:02.813' AS DateTime), CAST(N'2022-03-27T11:54:02.813' AS DateTime), 1)
GO
INSERT [dbo].[HousePublication] ([IdHouse], [NameHouse]) VALUES (1, N'Аванта')
INSERT [dbo].[HousePublication] ([IdHouse], [NameHouse]) VALUES (2, N'Азбука')
INSERT [dbo].[HousePublication] ([IdHouse], [NameHouse]) VALUES (3, N'Арка')
GO
INSERT [dbo].[Rank] ([IdRank], [NameRank]) VALUES (1, N'Читатель    ')
INSERT [dbo].[Rank] ([IdRank], [NameRank]) VALUES (2, N'Библиотекарь')
INSERT [dbo].[Rank] ([IdRank], [NameRank]) VALUES (3, N'Админ       ')
GO
INSERT [dbo].[Reader] ([IdReader], [LastName], [Name], [PatronymicName], [Birthday], [Adress], [StudyOrWork], [NumberPhone], [Login], [Password], [IdRank]) VALUES (1, N'Панфилова', N'Ангелина', N'Олегвна', CAST(N'2003-06-02T00:00:00.000' AS DateTime), N'Екатеринбург, Чкаловский район', N'ЕМК', N'89827396250', N'3ngel', N'1568493AbC*', 3)
INSERT [dbo].[Reader] ([IdReader], [LastName], [Name], [PatronymicName], [Birthday], [Adress], [StudyOrWork], [NumberPhone], [Login], [Password], [IdRank]) VALUES (2, N'Попов', N'Арсений', N'Александрович', CAST(N'1990-08-16T00:00:00.000' AS DateTime), N'Москва, Центр', N'Библиотека', N'89827549288', N'Pups', N'123Ab*', 2)
INSERT [dbo].[Reader] ([IdReader], [LastName], [Name], [PatronymicName], [Birthday], [Adress], [StudyOrWork], [NumberPhone], [Login], [Password], [IdRank]) VALUES (3, N'Рыбинской', N'Иван', N'Сергеевич', CAST(N'2002-05-12T00:00:00.000' AS DateTime), N'Екатеринбург, Вторчермет', N'УрФУ', N'89825673455', N'Fish', N'342SDnh?', 1)
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_BBK] FOREIGN KEY([BBK])
REFERENCES [dbo].[BBK] ([IdBBK])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_BBK]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_City]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_HousePublication] FOREIGN KEY([HousePublication])
REFERENCES [dbo].[HousePublication] ([IdHouse])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_HousePublication]
GO
ALTER TABLE [dbo].[Extradition]  WITH CHECK ADD  CONSTRAINT [FK_Extradition_Books] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Books] ([ISBN])
GO
ALTER TABLE [dbo].[Extradition] CHECK CONSTRAINT [FK_Extradition_Books]
GO
ALTER TABLE [dbo].[Extradition]  WITH CHECK ADD  CONSTRAINT [FK_Extradition_Reader] FOREIGN KEY([IdReader])
REFERENCES [dbo].[Reader] ([IdReader])
GO
ALTER TABLE [dbo].[Extradition] CHECK CONSTRAINT [FK_Extradition_Reader]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [FK_Reader_Rank] FOREIGN KEY([IdRank])
REFERENCES [dbo].[Rank] ([IdRank])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Rank]
GO
USE [master]
GO
